/* ----------------------------------------------------------------- HUD -- */

#best_streak_container {
    position: absolute;
	top: var(--ss-space-sm); left: 50%;
	padding: 0; margin: 0;
    transform: translateX(-50%);
	text-align: center;
	z-index: 6;
}

#best_streak_container h1 {
	margin: 0; padding: 0;
	display: inline;

	text-shadow: var(--ss-space-micro) var(--ss-space-micro) var(--ss-shadow);

	font-family: 'Nunito', sans-serif !important;
	font-size: 2.5em !important;
	color: var(--ss-white) !important;
	font-weight: bold !important;
	text-transform: lowercase;

	padding-left: 1.25em;
	padding-top: 0em;

	background-image: url(../img/ico_streak.png);
    background-position: left center;
	background-size: contain;
    background-repeat: no-repeat;
}

#teamScores {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 6;
}

#weaponBox {
	display: none; 
	position: absolute; 
	right: 0.75em; 
	bottom: 0.5em; 
	text-align: right;
}

#grenades {
	padding-bottom: 0; 
	margin-bottom: 0;
}

#grenades img {
	width: 3.25em;
	height: auto;
}

#weaponName {
	text-align: right;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	line-height: 0;
	display: none;
}

#ammo {
	text-align: right;
	font-size: 3.25em;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	line-height: 1em;
	margin: 0;
	
	padding-right: 1.2em;
	padding-top: 0em;
	margin-bottom: 0.1em;

	background-image: url(../img/ico_ammo.png);
    background-position: right center;
	background-size: contain;
    background-repeat: no-repeat;
}

#health {
	position: absolute;
	left: 50%; bottom: 1em;
	transform: translateX(-50%);
	display: inline-block;
	width: 6em; height: 6em;
	background: var(--ss-blueshadow);
	border-radius: 50%;
	text-align: center;

}

#healthHp {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	color: var(--ss-offwhite);
	font-size: 1.2em !important;
	margin-top: -0.7em !important;
}

#grenadeThrowContainer {
	position: absolute;
	display: flex;
	visibility: hidden;
	align-items: flex-end;
	top: 50%;
	left: 50%;
	transform: translate(-6em, -3em);
	width: 1em;
	height: 6em;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 0.3em;
	padding: 0.25em;
}

#grenadeThrow {
	width: 100%;
	height: 50%;
	border-radius: 0.05em;
	background: white;
}

#killBox {
	position: absolute;
	display: none;
	width: 100%;
	transform-origin: center bottom;
	bottom: 20%;
	color: var(--ss-white);
	text-align: center;
}

#KILL_STREAK {
	font-style: italic;
}


#KILL_STREAK,
.game-start-loading-message,
.game-start-loading-message h3 {
	text-align: center;
}

.game-start-loading-message,
.game-start-loading-message h3 {
	width: 100%;
	display: block;
}

#killBox h3, #deathBox h3 {
	font-weight: 900;
	margin: 0;
	color: var(--ss-white);
	font-family: 'Nunito', sans-serif;
}

#killBox h2, #deathBox h2 {
	font-size: 2em; 
	line-height: 1em;
	margin: 0;
	font-weight: 900;
	color: var(--ss-white);
	font-family: 'Nunito', sans-serif;
	text-transform: none !important;
}

#deathBox {
	position: absolute;
	display: none;
	width: 100%;
	transform-origin: center top;
	top: 17%;
	color: #fff;
	text-align: center;
}

#gameMessage {
	position: absolute;
	display: none;
	top: 45%; left: 60%;
	color: #fff;
	text-align: center;
	z-index: 6;
}

.chat {
	position: absolute;
	font-weight: bold;
	color: var(--ss-white);
	z-index: 6;
}

#chatOut {
	display: none;
	bottom: 2.5em;
	left: 1em;

}

#chatIn {
	display: none;
	color: #ff0;
	bottom: 1em;
	left: 1em;
	width: 30%;
	border: none;
	background: none;
}

#killTicker {
	position: absolute;
	text-align: right;
	right: 1em;
	top: 10em;
	height: 7em;
	transform-origin: top right;
	text-shadow: var(--ss-space-micro) var(--ss-space-micro) var(--ss-shadow);
}

#playerList {
	display: table;
	border-collapse: separate;
	border-spacing: 0.2em;
	position: absolute;
	left: 1em; top: 1em;
	z-index: 6;
	width: 12em;
}

#spectate {
	display: none;
	position: absolute;
	right: 1em;
	bottom: 1em;
	text-align: center;
	padding: 0.5em 1em 0.5em 1em;
	border-radius: 0.3em;
	font-weight: bold;
	color: var(--ss-white);
	background: rgba(0, 0, 0, 0.3);
}

#serverAndMapInfo {
	position: absolute;
	right: var(--ss-space-sm);
	bottom: var(--ss-space-sm);
	text-align: right;
	color: var(--ss-white);
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1em;
	z-index: 6;
}

#inGameUI {
	position: absolute; right: 0.3em; top: 0em;
}

#readouts {
	position: absolute;
	top: 2.2em;
	right: 0em;
	display: block; 
	text-align: right; 
	color: var(--ss-white);
	font-weight: bold;
	clear: both;
	font-size: 1.3em !important;
	text-transform: uppercase;
	line-height: 1em;
	white-space: nowrap;
	z-index: 6;
}

#readouts div {
	display: inline;
	font-size: 1em !important;
	margin-left: 0.1em;
}

#game_account_panel {
	z-index: 6;
	width: auto;
	position: absolute;
	top: var(--ss-space-sm);
	right: var(--ss-space-sm);
}

#chickenBadge {
	position: absolute;
	top: 5.25em;
	width: 5em;
	height: 5em;
	right: var(--ss-space-sm);
	z-index: 6;
}

#chickenBadge img {
	width: 100%;
	height: 100%;
}

#scopeBorder {
	box-sizing: initial;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100vw; height: 100vh;
	position: absolute;
	top: 0px; left: 0px;
	pointer-events: none;
	overflow-x: hidden;
}

#maskleft, #maskright {
	background: var(--ss-black);
	flex: 1;
}

#maskmiddle {
	background: url('../img/scope.png') center center no-repeat;
	background-size: contain;
	width: 100vh;
	height: 100vh;
}

.crosshair {
	position: absolute;
	transform-origin: 50% top;
	left: calc(50% - 0.21em);
	top: 50%;
	background: white;
	opacity: 0.7;
	border: solid 0.05em black;
	width: 0.3em;
	height: 0.8em;
	margin-bottom: 0.12em;
}

#shotReticleContainer {
	position: absolute;
	text-align: center;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.7;
	overflow-x: hidden;
}

#reticleContainer, #crosshairContainer {
	overflow-x: hidden;
	max-width: 90vw;
}

.shotReticle {
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	width: 2.5em;
	height: 100%;
	transform-origin: center;
	background: transparent;
	border: solid;
	border-left: solid transparent;
	border-right: solid transparent;
	border-radius: 1.25em 1.25em 1.25em 1.25em;
}

.shotReticle:nth-child(1n) {
	transform: translateX(-50%) rotate(0deg);
}

.shotReticle:nth-child(2n) {
	transform: translateX(-50%) rotate(90deg);
}

.shotReticle.white {
	border-color: white;
	border-left: solid transparent;
	border-right: solid transparent;
	border-width: 0.1em;
	padding: 0.1em;
}

.shotReticle.black {
	border-color: black;
	border-left: solid transparent;
	border-right: solid transparent;
	border-width: 0.2em;
}

@keyframes armed {
    0% { transform: translate(-50%, -50%) scale(1.25); }
    100% { transform: translate(-50%, -50%) scale(1); }
}

@keyframes unarmed {
    0% { transform: translate(-50%, -50%) scale(0.8); }
    100% { transform: translate(-50%, -50%) scale(1); }
}

#readyBrackets {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.5;
}

#readyBrackets.ready {
	animation: armed 0.2s linear;
	width: 4em; height: 4em;
	border-color: rgb(0, 255, 0);
}

#readyBrackets.notReady {
	animation: unarmed 0.2s linear;
	width: 8em; height: 8em;
	border-color: rgb(255, 0, 0);
}

.readyBracket {
	position: absolute;
	width: 0.8em; height: 0.8em;
	border: solid;
	border-color: inherit;
	border-width: 0.3em 0 0 0.3em;
	transform-origin: top left;
}

.readyBracket:nth-child(1) {
	left: 100%;
	transform: rotate(90deg);
}

.readyBracket:nth-child(2) {
	left: 100%; top: 100%;
	transform: rotate(180deg);
}

.readyBracket:nth-child(3) {
	top: 100%;
	transform: rotate(270deg);
}

.healthBar {
	transform-origin: center;
	transform: rotate(90deg);
	fill: transparent;
	stroke: white;
	stroke-width: 1em;
	stroke-dasharray: 14.4513em;
	transition: all 0.3s ease-in-out;
}

.healthYolk {
	fill: orange;
}

#healthHp {
	transform: translateY(-2.75em);
	font-size: 1.5em;
}

.healthSvg {
	width: 100%; height: 100%;
}

#spatulaPlayer {
	display: none;
    position: absolute;
    width: 2.8em;
    left: 50%;
    bottom: 1.4em;
    transform: translateX(3.5em);
    transform-origin: center bottom;
}

#spatulaPlayer.capture {
	display: block;
	animation: spatulaPlayerCapture 0.5s ease-in-out;
}

#spatulaPlayer.drop {
	display: none;
}

@keyframes spatulaPlayerCapture {
	from {
		opacity: 0;
		transform: scale(6) translate(0, 0);
	}

	to {
		opacity: 1;
		transform: scale(1) translate(3.5em, 0);
	}
}

.teamScore {
	position: absolute;
	width: 12vh;
	height: 8vh;
	top: 0.5em;
	padding: 2vh;
	box-sizing: border-box;
	border: solid rgba(0, 0, 0, 0.5);
	text-shadow: none;
	text-align: center;
	z-index: 6;
}

.teamScore.red {
	border-radius: 7vh 5vh 5vh 7vh / 4vh 4vh 4vh 4vh;
	border-right-width: 4vh;
	transform: translateX(-22vh);
}

.teamScore.blue {
	border-radius: 5vh 7vh 7vh 5vh / 4vh 4vh 4vh 4vh;
	border-left-width: 4vh;
	transform: translateX(10vh);
}

.teamScore.active {
	opacity: 1;
}

.teamScore.inactive {
	opacity: 0.5;
}

.teamScore.red.active {
	color: #fff;
	background: rgba(255, 0, 0, 0.7);
}

.teamScore.red.inactive {
	color: #f00;
	background: rgba(64, 0, 0, 0.7);
}

.teamScore.blue.active {
	color: #fff;
	background: rgba(0, 128, 255, 0.7);
}

.teamScore.blue.inactive {
	color: #0af;
	background: rgba(0, 32, 64, 0.7);
}

.teamScore .number {
	width: 100%;
	position: absolute;
	margin-left: -2vh;
	font-size: 3vh;
	font-weight: bold;
}

.teamLetter.red {
	position: absolute;
	font-size: 3vh;
	right: -0.9em;
	font-weight: bold;
}

.teamLetter.blue {
	position: absolute;
	font-size: 3vh;
	left: -0.9em;
	font-weight: bold;
}

#inGameScaler {
	display: flex;
	flex-wrap: nowrap;
	align-items: baseline;
	width: 970px;
	float: right;
	margin-right: 1em;
}
#pausePopup, .player__container {
	position: relative;
}
.player__container {
	margin: var(--ss-space-lg) var(--ss-space-lg) 0 var(--ss-space-lg);
	height: 50vh;
	flex: 0 0 200px;
	max-width: 200px;
	align-self: flex-start;
	position: absolute;
	left: 0;
}
.pause-popup--container {
	flex: 0 1 auto;
	flex-wrap: wrap;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	margin-right: var(--ss-space-lg);
	margin-top: 8em;
}
.pause-popup--container .fullwidth {
	width: auto !important;
	max-width: none !important;
}
#pausePopup {
	top: auto;
	left: auto;
	transform: none;
	width: 970px;
	padding: var(--ss-space-md);;
	margin-bottom: 2em;
}

@media only screen and (max-width: 1200px)  {
	#pausePopup {
		margin-bottom: 6em;
		width: 810px;
	}
}
@media only screen and (max-width: 1045px)  {
	#pausePopup {
		margin-bottom: 6em;
		width: 710px;
	}
}
#pausePopupInnards {
	width: 100%;
}
#pauseAdPlacement,
.pauseAdPlacement {
	position: relative;
	z-index: 10;
	margin-right: auto;
	margin-left: auto;
    /* bottom: 4em; */
	/* position: absolute;
	transform-origin: top left;
	left: 50%;
	transform: translateX(-50%); */
/*	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	transform-origin: left top;
	margin-top: 1em;*/
}
#pauseAdPlacement iframe,
.pauseAdPlacement iframe{
	margin: 0 auto;
	display: block;
	/*position: absolute;
	transform-origin: left top;
	transform: translateX(-50%);*/
}
@media only screen and (max-width: 1200px)  {
	.playing-poki #div-gpt-ad-ShellShock_Respawn_Banner {
		margin: 0;
	}
}
#playerList {
	display: table;
	border-collapse: separate;
	border-spacing: 0.2em;
	position: absolute;
	left: 0; top: 0;
	z-index: 6;
}

.playerSlot {
	min-width: 200px;
	max-width: 200px;
}

.thisPlayer,
.otherPlayer,
.btn-container {
	display: flex !important;
	justify-content: space-between !important;
	white-space: nowrap;
}
#btn_horizontal.pause-popup--btn-group {
	flex-direction: column;
	max-width: 17.5em;
	min-height: 6em;
}
.pause-popup--btn-group .ss_button.btn__respawning,
#btn_horizontal.pause-popup--btn-group {
	margin-right: auto;
	margin-left: auto;
}

.btn__respawning {
	border-radius: var(--ss-space-sm);
	border: none;
	background: var(--ss-yolk);
	color: var(--ss-white);
	text-align: center;
	font-weight: bold;
	line-height: 1em;
	padding: var(--ss-space-sm) var(--ss-space-lg);
	margin: 0 auto var(--ss-space-md) auto;
	white-space: nowrap;
}
.pause-popup--btn-group .ss_button:first-child {
	margin-left: 0 !important;
}
.pause-popup--btn-group .ss_button {
    margin: 0 0 0 0 !important;
}
.btn-container {
	margin-top: var(--ss-space-lg)
}
.btn__team_switch {
	width: 100%
}
.btn__team_switch i {
	font-style: italic;
}

/* ----------------------------------------------------------------- poki stuff -- */
.poki-reward-container {
    display: flex;
    justify-content: center;
}

.btn_reward {
	background-color: var(--ss-blue2);
	display: flex;
	align-items: center;
	text-shadow: var(--ss-space-micro) var(--ss-space-micro) var(--ss-shadow);
}
/**** Display ad *****/
.house-ad-small {
	margin: 1em auto 0 auto;
	width: 350px;
	overflow: hidden;
}

.house-ad-small iframe {
	display:block;
	margin: 0 auto;
}
/* .loading-display-ad {
	display: none;
} */

#game_screen #event-notifications {
    margin: 0;
    position: absolute;
    z-index: 5;
	top: .8em;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}
#game_screen #event-notifications img {
	height: 50px;
	width: auto;
}